# Patterns see https://git-scm.com/docs/gitignore#_pattern_format

# GitHub files
.github

# Dependend subprojects are not tracked (managed by .gitmodules)
deps/**
!deps/CMakeLists.txt

# CMake
CMakeUserPresets.json

# VS Code setting files
.vscode 

# VS setting files
.vs

# Vim
.*.swp
.*.swo

# Python
__pycache__/

# various
*.o
*.cmd
*.tmp
*.gcda
*.gcno

# Build system files
build/
install/
