# patterns see https://git-scm.com/docs/gitignore#_pattern_format

# build system files
out  
out.*  

# VS Code setting files
.vscode 

# VS setting files
.vs

# CMake
CMakeUserPresets.json

# Vim
.*.swp
.*.swo

# Python
__pycache__/

# various
*.o
*.cmd
*.tmp
*.gcda
*.gcno

# dependend subprojects are not tracked (managed by .gitmodules)
deps/**
!deps/CMakeLists.txt

# EITT test configuration files 
/tests/eitt/**

# GitHub files
.github
docs/IPv6_Resolution_Implementation_Summary.md
